---
import Navigation from "../components/Navigation.astro";
const {frontmatter} = Astro.props;
---

<html>
<head>
    <link rel="icon" type="text/svg+xml" href="/favicon.svg"/>

    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content="built with Astro and curiosity"/>

    <title>{frontmatter.title}</title>
</head>
<body class="dark:text-white dark:bg-neutral-900">

<Navigation/>
<main class="max-w-screen-md mx-auto prose dark:prose-invert mt-24">
    <slot/>
</main>

</body>
</html>